// Importing mixins
@import './mixins';
@import './variables';

// Article in Header Button
.btn-readMore {
    display: inline-block;
    border-radius: 12rem;
    border: 1px solid $color-primary;
    color: $color-primary;
    font-size: 1.6rem;
    font-weight: 300;
    padding: .6rem;
    padding-top: 1rem;
    text-decoration: none;
    width: 22%; 
    text-align: center;
    text-transform: uppercase;
    // - Media Queries - \\
    @media only screen and (max-width: $bp-small) { width: 50%; }
}

// View All Button
.btn-viewAll {
    display: inline-block;
    padding: 1rem;
    padding-top: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $color-font-2;
    border-radius: 10rem;
    color: $color-font-2;
    font-size: 1.8rem;
    font-weight: 300;
    width: 12%;
    // - Media Queries - \\
    @media only screen and (max-width: $bp-largest-5) { width: 15%; }
    @media only screen and (max-width: $bp-medium) { width: 20%; }
    @media only screen and (max-width: $bp-small) { width: 50%; }
}

// More Button In Cards
.btn-more {
    display: inline-block;
    padding: 1rem;
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 8rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 32%;
    i { margin-left: .5rem; }
    // - Media Queries - \\
    @media only screen and (max-width: $bp-medium) { width: 40%; }
}

// Author Button Blue
.btn-author {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: .8rem;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 10rem;
    font-size: 1.2rem;
    font-weight: 300;
    width: 35%;
}