// Importing SASS Components

// Standard Section Headers
.section-header-standard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    h2 { font-weight: 300; font-size: 3.5rem; text-transform: uppercase; color: $color-font-2; 
        @media only screen and (max-width: $bp-small) { margin-bottom: 2rem; }
        @media only screen and (max-width: $bp-vsmall-4) { font-size: 3rem; margin-right: 5rem; }
    }
    a { margin-right: 8rem; 
        @media only screen and (max-width: $bp-medium) { margin-right: 5rem; }
        @media only screen and (max-width: $bp-small) { margin-right: 0; }
        @media only screen and (max-width: $bp-vsmall-4) { margin-right: 4rem; }
    }
    // - Media Queries - \\
    @media only screen and (max-width: $bp-small) { margin: 0; margin-bottom: 3rem; margin-right: 5rem; flex-direction: column; width: 100%; }
    @media only screen and (max-width: $bp-vsmall-4) { width: 110%; }
}