// Primary Colors
$color-primary: #498FED;
$color-primary-dark: #3a85eb;
$color-red: #e74c3c;

// Black & White Colors
$color-black: #000;
$color-white: #fff;

// Font Colors
$color-font-1: #828282;
$color-font-2: #747474;

// Article Colors
$color-article: #4A4A4A;

// Background Colors
$color-background-1: #ECECEC;