// Primary Colors
$color-primary: #498FED;

// Black & White Colors
$color-black: #000;
$color-white: #fff;

// Font Colors
$color-font-1: #828282;

// Article Colors
$color-article: #4A4A4A;

// Background Colors
$color-background-1: #ECECEC;